body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
}
.navbar ul{
    list-style: none;
    background:sienna;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: rgb(70, 70, 207);
    width:100px;
    display: block;
    padding: 15px 25px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
 }
.navbar a:hover{
    color:black
}
